p,
h1 {
    margin-left: 200px;
}
div a {
    position: absolute;
    left: 20px;
    width: 120px;
    text-decoration: none;
    font-size: 20px;
    color: blue;
    background-color: white;
    border-right: 20px solid black;
}
a:hover {
    background-color: black;
}

div a:hover {
    left: 0;
}

#Home {
    margin-top: 10px;
    top: 10px;
}

#Java {
    top: 50px;
}

#HTML {
    top: 80px;
}

#CSS {
    top: 110px;
}
p,
h1 {
    color: #7e0e6d;
}